.form-group.custom label {display: flex;}
.table-sm td,.table-sm th {
    padding: .5rem;
}
.table-sm.custom td {border-bottom: 1px solid #e9e9e9;}
table th.bg-gray, table td.bg-gray {
    background: #e9e9e9;
}

.custom-list {list-style: none; display: flex; border-top: 1px solid #e9e9e9; padding: 20px 20px 0 20px;}
.custom-list li {width: 25%; }
.custom-list li a {width: 100%; display: block; padding: 10px 0;}

.valid-feedback { display: block; font-size: 90%; }